DJANGO_SECRET_KEY=change-me
POSTGRES_DB=mydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL=noreply@example.com
PASSWORD_RESET_CODE_TTL_SECONDS=600
PASSWORD_RESET_RESEND_COOLDOWN_SECONDS=60
PASSWORD_RESET_REQUEST_THROTTLE_RATE=5/hour
PASSWORD_RESET_CONFIRM_THROTTLE_RATE=10/hour
