# -- DJANGO --
DJANGO_SECRET_KEY=key
# -- DATABSE --
POSTGRES_DB=mydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432 
# -- BREVO SMTP -- 
SMTP_DEFAULT_FROM_EMAIL=email_here
SMTP_HOST=host_here
SMTP_PORT=port_here
SMTP_USER=user_here
SMTP_PASS=pass_here
SMTP_ENCRYPTION=tls
PASSWORD_RESET_CODE_TTL_SECONDS=600
PASSWORD_RESET_RESEND_COOLDOWN_SECONDS=60
PASSWORD_RESET_REQUEST_THROTTLE_RATE=5/hour
PASSWORD_RESET_CONFIRM_THROTTLE_RATE=10/hour
# -- AI Recommendation --
GROQ_API_KEY=api_key_here
GROQ_MODEL=openai/gpt-oss-20b
# -- Stripe Payment System --
STRIPE_SECRET_KEY=secret_here        
STRIPE_WEBHOOK_SECRET=webhook_here # From the Stripe CLI when you run `stripe listen` locally
PAYMENT_CURRENCY=currency_here # e.g usd, uah.